
body {
    background-color: white;
}

img {
    height: auto;
    max-width: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.19);

}

.avatar {
    margin: 2rem auto;
    width: 100%;
    max-width: 300px;
    display: block;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.19);
}

#quiensoy {
    color: rgb(32, 26, 48);
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    line-height: 45px;
}

h2 {
    text-align: center;
    color: rgb(32, 26, 48);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 35px;
}

p {
    text-align: center;
    font-family: 'Agdasima', sans-serif;
    letter-spacing: 0ch;
    font-size: 30px;
    margin-top: auto;
}

a {
    color: rgb(32, 26, 48);
    text-decoration: dashed;
}

ul {
    font-family: 'Agdasima', sans-serif;
    font-size: 20px;
}

input {
    background-color: rgb(32, 26, 48);
    border: solid transparent;
    border-radius: 2%;
    color: rgb(32, 26, 48);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.2s;
}

select {
    color: rgb(225, 214, 255);;
    background-color: rgb(32, 26, 48);
    border-radius: 5%;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.19);
}

select:hover {
    color: rgb(225, 214, 255);;
    background-color: rgb(95, 65, 112);
    border-radius: 5%;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    transition-duration: 0.2s;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.19);
}



/* -------------------------------------- CLASES -------------------------------------- */

.header {
    box-sizing: content-box;
    margin: auto;
}

.color {
    background-color: blueviolet;
    padding: 5%;
    box-sizing: content-box;
    margin: auto;
}

.center {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 71.7%;
}

.botones {
    
    background-color: rgb(32, 26, 48);
    border: solid transparent;
    border-radius: 5%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.2s;
}

.botones:hover {
    
    background-color: rgb(47, 38, 71);
    border: solid transparent;
    border-radius: 5%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.2s;
    opacity: 0.8;
}


/* Clases de las columnas */ 

.content {
    display: flex;
    justify-content: center;
}

.titles {
    font-size: 30px;
}

.column {
    background-color: white;
    border-radius: 2%;
    padding: 50px;
    margin: 0 30px;
    width: 150px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.column:hover {
    background-color: white;
    border-radius: 2%;
    padding: 52px;
    margin: 0 30px;
    width: 152px;
    cursor: pointer;
    transition-duration: 0.2s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.column2 {
    background-color: white;
    border-radius: 2%;
    padding: 50px;
    margin: 0 30px;
    width: 150px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.column2:hover {
    background-color: white;
    border-radius: 2%;
    padding: 52px;
    margin: 0 30px;
    width: 152px;
    cursor: pointer;
    transition-duration: 0.2s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.column3 {
    background-color: white;
    border-radius: 2%;
    padding: 50px;
    margin: 0 30px;
    width: 150px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.column3:hover {
    background-color: white;
    border-radius: 2%;
    padding: 52px;
    margin: 0 30px;
    width: 152px;
    cursor: pointer;
    transition-duration: 0.2s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


/* Clase del formulario */

.textos {
    margin-bottom: 3%;
    font-size: 40px;
}

/* -------------------------------------- ID's -------------------------------------- */

#yo {
    float: right;
    margin-left: 20px;
    clear: left;
    border-right: 3px solid rgb(255, 255, 255);
    padding-right: 18px;
}

#mas {
    float: right;
    margin-left: 18px;
    clear: left;
}

#git {
    position: fixed;
}

/* ID's de las columnas */



/* ID's del formulario */

#cuerpo {
    background-color: rgb(32, 26, 48);
    border: solid transparent;
    border-radius: 2%;
    color: rgb(32, 26, 48);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.2s;
    opacity: 0.8;
}

#text {
    cursor: text;
}

#cuerpo {
    cursor: text;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#fname {
    cursor: text;
}

#lname {
    cursor: text;
}

/* Otros */

#yom {
    color: rgb(32, 26, 48);
}

#projects {
    margin-left: 1150px;
}

#mis-proyectos {
    color: rgb(32, 26, 48);
}